{% extends "base.html" %}

{% block title %}Inform{% endblock %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    let pages = [
        {% for symptom in system.symptoms %}
            $('#{{symptom.name}}'),
        {% endfor %}
    ];
    let curr = -1;
    let selections = [];

    // Hide all pages
    $('#general').hide();
    $('#selection').hide();
    pages.forEach(el=>{
      el.hide();
    });

    // Set up introduction and general links
    $('#introduction>.next').click(() => {
      $('#introduction').hide();
      $('#general').show();
    })

    $('#general>.prev').click(() => {
      $('#general').hide();
      $('#introduction').show();
    })
    $('#general>.next').click(() => {
      $('#general').hide();
      $('#selection').show();
    })

    $('#selection>.prev').click(() => {
      $('#selection').hide();
      $('#general').show();
    })
    // Dynamically reroute all next and prev
    $("#selection>.next").click(function(){
      // Grab list of selections
      selections = [];
      $('#selection>input[type="checkbox"]').each((i, el) => {
        if($(el).is(":checked")) {
          page = $('#'+el.value)
          selections.push(page)
        }
      });

      // Reroute all next and prev
      if (selections.length > 0) {
        selections[selections.length-1].find(".next").removeAttr("type").attr("type", "submit");
        selections.forEach((el, i) => {
          nextButton = el.find('.next');
          prevButton = el.find('.prev');
          nextButton.off("click");
          prevButton.off("click");
          nextButton.click(() => {
            if (curr+1 < selections.length) {
              selections[curr+1].show();
              selections[curr].hide();
              curr++;
            }
          });
          prevButton.click(() => {
            if (curr-1 >= 0) {
              selections[curr-1].show();
              selections[curr].hide();
              curr--;
            } else if (curr-1 == -1) {
              $("#selection").show()
              selections[curr].hide();
              curr--;
            }
          });

        });

        // Hide and show current page
        $("#selection").hide()
        selections[0].show()
        curr++;
      }
    });
  });
</script>
{% endblock %}

{% block body %}
<header class="show">
</header>
<div>
<form action="/submitted" method="post">
<input type="text" name="form_token" value="{{form_token}}" hidden />

<div id="introduction" class="content">
  <h2>Hello {{patient.name}}!</h2>
  <p>You have been requested by your GP to fill out the following form before your appointment</p>
  <button type="button" class="next round">&#8250;</button>
</div>

<div id="general" class="content">
  <h2>General Questions</h2>

  {% for question in system.questions %}
      {% set question_number = loop.index-1 %}
      <label for="General-{{loop.index-1}}">{{question.question}}</label><br>
      {% if question.questionType() == "text" %}
        <p> <input type="text" name="General-{{loop.index-1}}" value="{{question.answer}}" autocomplete="off" /> </p>
      {% elif question.questionType() == "textarea" %}
          <p><textarea name="General-{{loop.index-1}}" rows="5" cols="50">{{question.answer}}</textarea> </p>
      {% elif question.questionType () == "radio" %}
          {% for choice in question.choices %}
              {% if loop.index - 1 == question.answer|int %}
              <p> <label> <input type="radio" name="General-{{question_number}}" value="{{loop.index-1}}" checked/> {{choice}} </label></p>
              {% else %}
              <p> <label> <input type="radio" name="General-{{question_number}}" value="{{loop.index-1}}" /> {{choice}} </label></p>
              {% endif %}
          {% endfor %}
      {% elif question.questionType () == "check" %}
          {% for choice in question.choices %}
              {% if question.answer[loop.index-1] %}
              <p> <label><input type="checkbox" name="General-{{question_number}}-{{loop.index-1}}" value="1" checked /> {{choice}}</label> </p>
              {% else %}
              <p> <label><input type="checkbox" name="General-{{question_number}}-{{loop.index-1}}" value="1"/> {{choice}}</label> </p>
              {% endif %}
          {% endfor %}
      {% endif %}
  {% endfor %}

  <!-- <label for="General-1">First Name</label><br>
  <input type="text" name="General-0" autocomplete="off"><br>
  <label for="General-2">Last Name</label><br>
  <input type="text" name="General-1" autocomplete="off"><br>
  <label for="General-3">What prescription or non-prescription medicine do you take, if any?</label><br>
  <input type="text" name="General-2" autocomplete="off"><br>
  <label for="General-4">Describe any surgeries you have had in the last 6 months, if any?</label><br>
  <input type="text" name="General-3" autocomplete="off"><br>
  <label for="General-5">Describe any surgeries you have had in the last 6 months, if any?</label><br>
  <input type="text" name="General-4" autocomplete="off"><br> -->

  <button type="button" class="prev round">&#8249;</button>
  <button type="button" class="next round">&#8250;</button>
</div>

<div id="selection" class="content">
  <p>Please select some of the symptoms you're experiencing</p>
  {% for symptom in system.symptoms %}
      <input type="checkbox" name="{{'Symptom-'+symptom.name}}" value="{{symptom.name}}"></input>
      <label for="{{'Symptom-'+symptom.name}}"> {{symptom.name}} </label><br>
  {% endfor %}
  <button type="button" class="prev round">&#8249;</button>
  <button type="button" class="next round">&#8250;</button>
</div>

{% for symptom in system.symptoms %}
    <div id="{{symptom.name}}" class="content symptom-questions">
        <h4>{{symptom.name}}</h4>
        <ul>
        {% for question in symptom.questions %}
            <li>
                {% set question_number = loop.index-1 %}
                <p> {{question.question}} </p>
                {% if question.questionType() == "text" %}
                    <p> <input type="text" name="{{symptom.name+'-'+(question_number)|string}}" autocomplete="off" />   </p>
                {% elif question.questionType() == "textarea" %}
                    <p> <textarea name="{{symptom.name+'-'+(question_number)|string}}" rows="5" cols="50"> </textarea>   </p>
                {% elif question.questionType () == "radio" %}
                    {% for choice in question.choices %}
                        <p> <label> <input type="radio" name="{{symptom.name+'-'+(question_number)|string}}" value="{{loop.index-1}}" /> {{choice}} </label></p>
                    {% endfor %}
                {% elif question.questionType () == "check" %}
                    {% for choice in question.choices %}
                        <p> <label><input type="checkbox" name="{{symptom.name+'-'+(question_number)|string+'-'+(loop.index-1)|string}}" value="1"/> {{choice}}</label> </p>
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
        </ul>

        <button type="button" class="prev round">&#8249;</button>
        <button type="button" class="next round">&#8250;</button>
    </div>
{% endfor %}
</form>
</div>



{% endblock %}
